<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
</head>

<body>
    <h1><button onclick="test1()">영화test</button></h1>
    <h1><button onclick="test2()">박스오피스 test</button></h1>
    <h1><button onclick="test3()">박스오피스 test</button></h1>
    <h1><button onclick="test4()">박스오피스 6개월간의 영화별 누적관계수 test</button></h1>
    <h1><button onclick="test4()">박스오피스 6개월간의 영화별 누적관계수 test</button></h1>
    <br>
    <h1>chatGpt가 만들어준거</h1>
    <h1><button onclick="test5()">영화test</button></h1>
    <h1><button onclick="test6()">영화100개 test</button></h1>
    <h1><button onclick="test7()">1개월 간의 일별 박스오피스</button></h1>
    <h1><button onclick="test9()">1개월 간의 일별 박스오피스 수정</button></h1>

    <script>
        function test1() {
            $.ajax({
                url:
                    'http://kobis.or.kr/kobisopenapi/webservice/rest/movie/searchMovieList.json?key=079dc5f01aab66e87cb9c6689349c5b6',
                type: 'get',
                dataType: 'json',
                success: function (data) {
                    console.log(data.movieListResult.movieList[0].movieNm)
                    // console.log(data.movieListResult[0].ge)
                }
            }

            )
        }

        function test2() {
            $.ajax({
                url:
                    'http://www.kobis.or.kr/kobisopenapi/webservice/rest/boxoffice/searchDailyBoxOfficeList.json?key=dd6ad20d22e00ce46755a9cef91b9a6c&targetDt=20230307',
                type: 'get',
                dataType: 'json',
                success: function (data) {
                    console.log(data);
                }
            }

            )
        }

        function test3() {
            $.ajax({
                url:
                    'http://www.kobis.or.kr/kobisopenapi/webservice/rest/boxoffice/searchDailyBoxOfficeList.json?key=dd6ad20d22e00ce46755a9cef91b9a6c&targetDt&targetDt=20230307',
                type: 'get',
                dataType: 'json',
                success: function (data) {
                    console.log(data);
                }
            }

            )
        }

        function test5() {
            // API Key
            var key = "dd6ad20d22e00ce46755a9cef91b9a6c";

            // API 호출 URL
            var url = "http://www.kobis.or.kr/kobisopenapi/webservice/rest/movie/searchMovieList.json?key=" + key;

            // API 호출
            $.get(url, function (response) {
                // 응답 데이터 확인
                var movieList = response.movieListResult.movieList;
                for (var i = 0; i < movieList.length; i++) {
                    console.log("영화 제목: ", movieList[i].movieNm);
                    console.log("개봉 연도: ", movieList[i].openDt);
                    console.log("영화 코드: ", movieList[i].movieCd);
                    console.log("-----------------------------");
                }
            })
                .done(function () {
                    console.log("영화 목록을 성공적으로 가져왔습니다.");
                })
                .fail(function () {
                    console.log("영화 목록을 가져오는데 실패했습니다.");
                });
        }

        function test6() {
            // API Key
            var key = "dd6ad20d22e00ce46755a9cef91b9a6c";

            // API 호출 URL
            var url = "http://www.kobis.or.kr/kobisopenapi/webservice/rest/movie/searchMovieList.json&itemPerPage=100";

            // 요청 파라미터 설정
            var params = {
                key: key,
                itemPerPage: 10 // 한 페이지에 가져올 영화 개수
            };

            // 10개씩 10번 호출하여 총 100개의 영화 목록 가져오기
            for (var i = 1; i <= 10; i++) {
                params.curPage = i; // 현재 페이지 설정

                // API 호출
                $.ajax({
                    url: url,
                    data: params,
                    async: false, // 비동기 호출 해제
                    success: function (response) {
                        // 응답 데이터 확인
                        var movieList = response.movieListResult.movieList;
                        for (var j = 0; j < movieList.length; j++) {
                            console.log("영화 제목: ", movieList[j].movieNm);
                            console.log("개봉 연도: ", movieList[j].openDt);
                            console.log("영화 코드: ", movieList[j].movieCd);
                            console.log("-----------------------------");
                        }
                    },
                    error: function () {
                        console.log("영화 목록을 가져오는데 실패했습니다.");
                    }
                });
            }
        }

        function test7() {
            var api_key = "dd6ad20d22e00ce46755a9cef91b9a6c"; // KOFIC API 키
            var startDate = "20220307"; // 조회 시작일 (YYYYMMDD 형식)
            var endDate = "20220406"; // 조회 종료일 (YYYYMMDD 형식)

            // KOFIC 일별 박스오피스 API 요청 URL
            var url = "http://www.kobis.or.kr/kobisopenapi/webservice/rest/boxoffice/searchDailyBoxOfficeList.json?" +
                "key=" + api_key +
                "&targetDt=" + startDate +
                "&multiMovieYn=Y" +
                "&repNationCd=K" +
                "&wideAreaCd=" +
                "&wideReleaseYn=" +
                "&itemPerPage=10" +
                "&multiTheaterYn=" +
                "&weekGb=0" +
                "&showTime=" +
                "&openStartDt=" +
                "&openEndDt=" +
                "&prdtStartDt=" +
                "&prdtEndDt=" +
                "&curPage=" +
                "&moveiCd=" +
                "&moveiNm=" +
                "&showTm=" +
                "&companyCd=" +
                "&companyNm=" +
                "&directorNm=" +
                "&genreNm=" +
                "&repGenreCd=" +
                "&peopleNm=" +
                "&multiMovieCd=" +
                "&bookRateYN=" +
                "&totScreen=1000" +
                "&totSeat=100000" +
                "&showDate=" + startDate +
                "&maxShowDt=" + endDate +
                "&boxofficeType=";

            // AJAX를 사용하여 API 호출
            $.ajax({
                url: url,
                type: "GET",
                dataType: "json",
                success: function (response) {
                    var boxOfficeList = response.boxOfficeResult.dailyBoxOfficeList; // 일별 박스오피스 정보 배열
                    console.log(boxOfficeList); // 가져온 일별 박스오피스 정보 출력
                },
                error: function (error) {
                    console.error("Error: " + error); // 에러 발생 시 콘솔에 에러 메시지 출력
                }
            });
        }

        function test8() {
            var api_key = "dd6ad20d22e00ce46755a9cef91b9a6c"; // KOFIC API 키
            var startDate = "20220307"; // 조회 시작일 (YYYYMMDD 형식)
            var endDate = "20220406"; // 조회 종료일 (YYYYMMDD 형식)
            var totalCount = 0; // 총 결과 수
            var currentCount = 0; // 현재까지 가져온 결과 수

            // KOFIC 일별 박스오피스 API 요청 함수
            function getDailyBoxOfficeList(pageNo) {
                var url = "http://www.kobis.or.kr/kobisopenapi/webservice/rest/boxoffice/searchDailyBoxOfficeList.json?" +
                    "key=" + api_key +
                    "&targetDt=" + startDate +
                    "&multiMovieYn=Y" +
                    "&repNationCd=K" +
                    "&wideAreaCd=" +
                    "&wideReleaseYn=" +
                    "&itemPerPage=10" +
                    "&multiTheaterYn=" +
                    "&weekGb=0" +
                    "&showTime=" +
                    "&openStartDt=" +
                    "&openEndDt=" +
                    "&prdtStartDt=" +
                    "&prdtEndDt=" +
                    "&curPage=" + pageNo +
                    "&moveiCd=" +
                    "&moveiNm=" +
                    "&showTm=" +
                    "&companyCd=" +
                    "&companyNm=" +
                    "&directorNm=" +
                    "&genreNm=" +
                    "&repGenreCd=" +
                    "&peopleNm=" +
                    "&multiMovieCd=" +
                    "&bookRateYN=" +
                    "&totScreen=1000" +
                    "&totSeat=100000" +
                    "&showDate=" + startDate +
                    "&maxShowDt=" + endDate +
                    "&boxofficeType=";

                // AJAX를 사용하여 API 호출
                $.ajax({
                    url: url,
                    type: "GET",
                    dataType: "json",
                    success: function (response) {
                        var boxOfficeList = response.boxOfficeResult.dailyBoxOfficeList; // 일별 박스오피스 정보 배열
                        totalCount = response.boxOfficeResult.totalCount; // 총 결과 수
                        currentCount += boxOfficeList.length; // 현재까지 가져온 결과 수
                        console.log(boxOfficeList); // 가져온 일별 박스오피스 정보 출력

                        // 모든 결과를 가져올 때까지 재귀적으로 호출
                        if (currentCount < totalCount) {
                            pageNo++;
                            getDailyBoxOfficeList(pageNo);
                        }
                    },
                    error: function (error) {
                        console.error("Error: " + error); // 에러 발생 시 콘솔에 에러 메시지 출력
                    }
                });
            }

            // 첫 번째 페이지부터 호출 시작
            getDailyBoxOfficeList(1);
        }

        function test9() {
            var api_key = "dd6ad20d22e00ce46755a9cef91b9a6c"; // KOFIC API 키
            var startDate = "20220307"; // 조회 시작일 (YYYYMMDD 형식)
            var endDate = "20220406"; // 조회 종료일 (YYYYMMDD 형식)
            var totalCount = 0; // 총 결과 수
            var currentCount = 0; // 현재까지 가져온 결과 수

            // KOFIC 일별 박스오피스 API 요청 함수
            function getDailyBoxOfficeList(pageNo) {
                var url = "http://www.kobis.or.kr/kobisopenapi/webservice/rest/boxoffice/searchDailyBoxOfficeList.json?" +
                    "key=" + api_key +
                    "&targetDt=" + startDate +
                    "&multiMovieYn=Y" +
                    "&repNationCd=K" +
                    "&wideAreaCd=" +
                    "&wideReleaseYn=" +
                    "&itemPerPage=10" +
                    "&multiTheaterYn=" +
                    "&weekGb=0" +
                    "&showTime=" +
                    "&openStartDt=" +
                    "&openEndDt=" +
                    "&prdtStartDt=" +
                    "&prdtEndDt=" +
                    "&curPage=" + pageNo +
                    "&moveiCd=" +
                    "&moveiNm=" +
                    "&showTm=" +
                    "&companyCd=" +
                    "&companyNm=" +
                    "&directorNm=" +
                    "&genreNm=" +
                    "&repGenreCd=" +
                    "&peopleNm=" +
                    "&multiMovieCd=" +
                    "&bookRateYN=" +
                    "&totScreen=1000" +
                    "&totSeat=100000" +
                    "&showDate=" + startDate +
                    "&maxShowDt=" + endDate +
                    "&boxofficeType=";

                // AJAX를 사용하여 API 호출
                $.ajax({
                    url: url,
                    type: "GET",
                    dataType: "json",
                    success: function (response) {
                        var boxOfficeList = response.boxOfficeResult.dailyBoxOfficeList; // 일별 박스오피스 정보 배열
                        totalCount = response.boxOfficeResult.totalCount; // 총 결과 수
                        currentCount += boxOfficeList.length; // 현재까지 가져온 결과 수

                        // 일별로 10개씩 출력
                        for (var i = 0; i < boxOfficeList.length; i++) {
                            console.log("일자: " + boxOfficeList[i].showRange); // 일자 출력
                            console.log("영화 제목: " + boxOfficeList[i].movieNm); // 영화 제목 출력
                            console.log("=====================================");
                        }

                        // 모든 결과를 가져올 때까지 재귀적으로 호출
                        if (currentCount < totalCount) {
                            pageNo++;
                            getDailyBoxOfficeList(pageNo);
                        }
                    },
                    error: function (error) {
                        console.error("Error: " + error); // 에러 발생 시 콘솔에 에러 메시지 출력
                    }
                });
            }

            // 첫 번째 페이지부터
        }

        function test10() {
            var api_key = "dd6ad20d22e00ce46755a9cef91b9a6c"; // KOFIC API 키
            var startDate = "20220307"; // 조회 시작일 (YYYYMMDD 형식)
            var endDate = "20220406"; // 조회 종료일 (YYYYMMDD 형식)
            var totalCount = 0; // 총 결과 수
            var currentCount = 0; // 현재까지 가져온 결과 수

            // KOFIC 일별 박스오피스 API 요청 함수
            function getDailyBoxOfficeList(pageNo) {
                var url = "http://www.kobis.or.kr/kobisopenapi/webservice/rest/boxoffice/searchDailyBoxOfficeList.json?" +
                    "key=" + api_key +
                    "&targetDt=" + startDate +
                    "&multiMovieYn=Y" +
                    "&repNationCd=K" +
                    "&wideAreaCd=" +
                    "&wideReleaseYn=" +
                    "&itemPerPage=10" +
                    "&multiTheaterYn=" +
                    "&weekGb=0" +
                    "&showTime=" +
                    "&openStartDt=" +
                    "&openEndDt=" +
                    "&prdtStartDt=" +
                    "&prdtEndDt=" +
                    "&curPage=" + pageNo +
                    "&moveiCd=" +
                    "&moveiNm=" +
                    "&showTm=" +
                    "&companyCd=" +
                    "&companyNm=" +
                    "&directorNm=" +
                    "&genreNm=" +
                    "&repGenreCd=" +
                    "&peopleNm=" +
                    "&multiMovieCd=" +
                    "&bookRateYN=" +
                    "&totScreen=1000" +
                    "&totSeat=100000" +
                    "&showDate=" + startDate +
                    "&maxShowDt=" + endDate +
                    "&boxofficeType=";

                // AJAX를 사용하여 API 호출
                $.ajax({
                    url: url,
                    type: "GET",
                    dataType: "json",
                    success: function (response) {
                        var boxOfficeList = response.boxOfficeResult.dailyBoxOfficeList; // 일별 박스오피스 정보 배열
                        totalCount = response.boxOfficeResult.totalCount; // 총 결과 수
                        currentCount += boxOfficeList.length; // 현재까지 가져온 결과 수

                        // 일별로 10개씩 출력
                        for (var i = 0; i < boxOfficeList.length; i++) {
                            console.log("일자: " + boxOfficeList[i].showRange); // 일자 출력
                            console.log("영화 제목: " + boxOfficeList[i].movieNm); // 영화 제목 출력
                            console.log("=====================================");
                        }

                        // 모든 결과를 가져올 때까지 재귀적으로 호출
                        if (currentCount < totalCount) {
                            pageNo++;
                            getDailyBoxOfficeList(pageNo);
                        }
                    },
                    error: function (error) {
                        console.error("Error: " + error); // 에러 발생 시 콘솔에 에러 메시지 출력
                    }
                });
            }

            // 첫 번째 페이지부터
        }
    </script>
</body>

</html>