@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    outline: none;
}

.wrapper{
	min-height: calc(100vh - 100px);
    width: 1200px;
}

.mypage-wrap{
    margin: 0 auto;
    padding-top: 80px;
}

.mypage-header>h2{
    padding: 20px 0px 25px 0px;
    font-weight: bold;
    font-size: 28px;
    color: #222222;
}


.profile-content>tbody>tr>th{
    background-color: #f7f8f9;
    padding: 20px;
    font-size: 18px;
    font-weight: bold;
    width: 200px;
    text-align: left;
}

.input-text{
    width: 450px;
    height: 45px;
    font-size: 16px;
    margin-left: 7px;
    padding-left: 7px;
    border: none;
}

.change-input-text{
    width: 350px;
    height: 30px;
    padding-left: 7px;
    margin-left: 10px;
}

.input-birth{
	padding-left: 7px;
    margin-left: 10px;
    height: 30px;
    width: 45px;
    border: none;
}

.input-birthDetail{
	border: none;
    width: 15px;
}

select{
	padding-left: 7px;
    margin-left: 10px;
    height: 30px;
    width: 85px;
}

.info{
    list-style-type: none;
}

.info>li{
    padding-left: 5px;
    margin: 15px 0px 15px 0px;
    font-size: 14px;
}

#changePw:hover{
    color: #fff;
    background-color: #351c6f;
    cursor: pointer;
    border-radius: 10px;
}

.btn-wrap{
    position: relative;
    margin: 50px 0px 50px 0px;
    height: 50px;
}

#cancelBtn{
    position: absolute;
    top: 10px;
    left: 680px;
    width: 75px;
    height: 45px;
    border-radius: 10px;
    background-color: #503396;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    border: none;
}

#cancelBtn:hover{
    color: #fff;
    background: #351c6f;
}

#enrollBtn{
    position: absolute;
    top: 10px;
    left: 780px;
    width: 75px;
    height: 45px;
    border-radius: 10px;
    background-color: #503396;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    border: none;
}

#enrollBtn:hover{
    color: #fff;
    background: #351c6f;
}