@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    outline: none;
}

.logo-wrap{
    margin-top: 100px;
    margin-bottom: 50px;
    text-align: center;
}

.wrapper>div>a>img{
    width: 200px;
    height: 200px;
}

.wrapper>p{
    margin: 0 auto;
    padding: 0 0 30px 0;
    font-size: 1.8666em;
    color: #503396;
    text-align: center;
    padding-bottom: 30px;
}

.nav-header{
    width: 550px;
    margin: 0 auto;
    box-sizing: border-box;
}

.nav-header>ul{
    width: 100%;
    height: 42px;
}

.tabs{
    list-style-type: none;
    width: 100%;
}

.tabs>li{
    float: left;
    width: calc(100%/2);
    text-align: center;
    line-height: 50px;
    background: #fff;
    cursor: pointer;
    font-size: 1.0667em;
    box-sizing: border-box;
}

.active-tab{
    box-sizing: border-box;
    border-bottom: 2.5px solid #503396;
    color: #503396;
}

.tabcontent{
    width: 550px;
    margin: 0 auto;
    display: none;
}

.tabcontent>h2{
    margin-top: 40px;
    padding-bottom: 15px;
}

.table-wrap{
    border-top: 1px solid black;
    border-spacing: 2px;
}

input{
    border: 1px solid #adb5bd;
}

table{
    border-collapse: collapse;
    empty-cells: show;
}

.table>tbody>tr>th>label{
    cursor: pointer;
}

.table-wrap tbody th {
    width: 130px;
    height: 50px;
    background: #f7f8f9;
    height: 50px;
    padding: 7px 15px;
    text-align: left;
    border-bottom: 1px solid #d1d5dd;
    box-sizing: border-box;
}

.table-wrap tbody td {
    width: 390px;
    height: 50px;
    padding: 7px 15px;
    text-align: left;
    border-bottom: 1px solid #d1d5dd;
}

th:first-child, td:first-child {
    border-left: none;
}

.input-text{
    width: 250px;
    height: 32px;
    padding: 0 10px;
    line-height: 30px;
    color: #444;
    border: 1px solid #d8d9db;

}

.wrapper .btn-member-button{
    padding: 40px 0 0 0;
    text-align: center;
}

.wrapper .btn-member-button .button{
    width: 200px;
    height: 50px;
    padding: 0;
    font-size: 20px;
    background: #503396;
    border-radius: 10px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    border: none;
    margin-bottom: 40px;
}

.wrapper .btn-member-button>button>a{
    text-decoration: none;
    color: #fff;
}

.wrapper .btn-member-button .button:hover{
    background: #351c6f;
    color: #fff;
}

.modal-wrapper{
    width: 100%;
    height: 1400px;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    left: 0;
    /* modal-wrap 숨기기 display:none */
    display: block;
}

.ok-modal{
    background-color: #fff;
    width: 28vw;
    height: 20.5vh;
    min-width: 300px;
    max-width: 400px;
    min-height: 150px;
    max-height: 200px;
    margin: 350px auto;
}

.ok-modalPw{
	background-color: #fff;
	width: 32vw;
    min-width: 300px;
    max-width: 400px;
    min-height: 150px;
    max-height: 200px;
    margin: 350px auto;
}

.text-common-two{
	font-size: 12px;
    padding-bottom: 5px;
}

.modal-content>h3{
    color: #fff;
    background-color: #503396;
    padding: 15px 15px;
    font-size: 1.0em;
    line-height: 1.1;
    display: flex;
}

/* .modal-wrapper .modal-top{
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 55px;
} */

.layer-content{
    padding: 7px 0px 15px 15px;
    font-size: 0.8em;
    color: #444444;
}

.text-common{
    padding-bottom: 5px;
}

.btn-wrapper{
    padding: 10px 20px 0px 0px;
    text-align: center;
}

.modal-content{
    position: relative;
}

.okBtn{
    margin-top: 10px;
    width: 55px;
    height: 30px;
    color: #fff;
    background: #503396;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.okBtn:hover{
    background: #351c6f;
    color: #fff;
}

.close-btn{
    position: absolute;
    top: 17px;
    right: 20px;
    width: 16px;
    height: 15px;
    margin: 0;
    padding: 0;
    border: none;
    background: url(https://img.megabox.co.kr/static/pc/images/common/btn/btn-layer-close.png);
    cursor: pointer;
}

.okBtn>a{
    text-decoration: none;
    color: #fff;
}