@charset "UTF-8";

.join-all-wrap{
    width: 1200px;
    margin: 0 auto;
}
.join-title{
    text-align: center;
}
.join-title>h2{
    margin-top: 80px;
    color: #503396;
}

.join-box{
    margin: 50px auto;
    width: 650px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

tr>td:first-child{
    font-size: 15px;
    font-weight: 600;
}

table{
	margin : 0px auto;
}

tr>td:first-child>sup{
    color: red;
}

.inputBox{
    margin-left: 40px;
    height: 45px;
    width: 350px;
    border: 1px solid rgb(211, 211, 211);
    border-radius: 5px;
    box-sizing: border-box;
}

.comment{
    position: absolute;
}

.join-box>table>tbody>tr>td{ 
    padding: 20px 0px;
}

.join-box>table>tbody>tr>td>button{ 
    color:#503396;
    border: 0px;
    height: 45px;
    border-radius: 5px;
    cursor: pointer;
    border: 1.8px solid  #503396;
    background-color: white;
}

.join-box>table>tbody>tr:nth-child(6)>td:nth-child(2){
    padding-left: 40px;
}

.join-box>table>tbody>tr:nth-child(7)>td:nth-child(2){
    padding-left: 40px;
}

.btn-box{
    width: 650px;
    margin: 0 auto;
}

.btn-box>button{
    width: 640px;
    background-color: #503396;
    border: 0px;
    height: 60px;
    border-radius: 5px;
    font-size: 18px;
    color: white;
    font-weight: 500;
    cursor: pointer;
    margin-bottom: 120px;
}

.agree-box>label{
    color: #000;
    font-size: 15px;
    font-weight: 500;
    line-height: 200%;
}

.agree-wrap{
    border: 1px solid #503396;
    width: 450px;
    margin-left: 40px;
    padding: 20px;
}

.agree-box>span{
    float: right;
    font-size: 12px;
    color: #503396;
    cursor: pointer;
}

.agree-box>.agreeCheck{
    padding-left: 20px;
}

#agreeBox{
    padding-left: 23px;
}

.inputBox{
    padding-left: 10px;
}

.join-box>table>tbody>tr>td:last-child>.comment{ 
    padding-left: 40px;
    font-size: 13px;
}

.join-box>table>tbody>tr>td:last-child>#memberEmail{ 
    width: 45%;
}

.join-box>table>tbody>tr>td:last-child>#checkEmail{ 
    width: 20%;
    margin: 0;
}

.birthDay{
	width: 80px;
	height: 50px;
	border-radius: 15%;
	font-size: 14px;
}

#email-time{
    margin-left: 300px;
}

/*모달*/
.agreeModal-wrap{
	display: none;
    width: 100vw;
    height: 115vh;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    z-index : 9000;
    /*display: flex;*/
}

.agreeModal-title{
	color: rgb(140, 0, 240);
}

.agreeModal-1{
    background-color: #fff;
    width: 800px;
    min-width: 400px;
    max-width: 650px;
    height: 650px;
    min-height: 400px;
    max-height: 800px;
    border-radius: 10px;
}

.agreeModal-top>h3{
    margin: 0;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 25px;
    color: rgb(140, 0, 240);
}

.agreeModal-content{
    margin: 0 auto;
    width: 600px;
    height: 450px;
    overflow: auto;
}

.resetBtn{
    width: 400;
}

.content{
	font-weight: 400;
}
.resetBtn>button{
    display: flex;
    margin: 25px auto;
    border-radius: 5px;
    border: none;
    width: 130px;
    height: 50px;
    line-height : 50px;
    justify-content: center;
    background-color: white;
    border: 1.8px solid rgb(140, 0, 240);
    font-weight: 600;
    color: rgb(140, 0, 240);
    font-size: 15px;
    cursor: pointer;
}