@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    vertical-align: none;
}

.wrapper{
	min-height: calc(100vh - 0px);
    width: 1200px;
    position: relative;
}

.table-wrap{
	margin: 0px;
}

.mypage-wrap{
	margin: 0 auto;
    padding-top: 80px;
    left: 450px;
}

.mypage-header>h2{
	padding: 15px 0 15px 0;
    font-weight: bold;
	font-size: 2.0em;
    color: #222222;
}

.profile-title{
    position: relative;
    padding-bottom: 10px;
}

.profile-content>tbody>tr>th{
    background-color: #f7f8f9;
    padding: 20px;
	font-size: 1.2em;
    font-weight: bold;
    width: 200px;
    text-align: left;
}

.input-text{
    width: 450px;
    height: 45px;
    font-size: 1.2em;
    margin-left: 7px;
    padding-left: 7px;
    border: none;
}

.change-input-text{
    width: 350px;
    height: 30px;
    padding-left: 7px;
    margin-left: 10px;
}

.input-birth{
	padding-left: 7px;
    margin-left: 10px;
    height: 30px;
    width: 45px;
    border: none;
    font-size: 1.2em;
}

.input-birthDetail{
	border: none;
    width: 15px;
    font-size: 1.2em;
}

select{
	padding-left: 7px;
    margin-left: 10px;
    height: 30px;
    width: 85px;
}

.info{
    list-style-type: none;
}

.info>li{
    padding-left: 5px;
    margin: 15px 0px 15px 0px;
    font-size: 14px;
}

table{
    border-top: 1px solid #444444;
    border-collapse: collapse;
}

th, td {
    border-bottom: 1px solid #d1d5dd;
    padding: 10px;
    border-collapse: collapse;
}

th:first-child, td:first-child {
    border-left: none;
}

.profile-content tbody td{
    width: 600px;
}

.profile-img{
    position: relative;
    display: block;
}

.img{
	margin-left: 20px;
	margin-top: 10px;
}

#deleteMember{
	position: absolute;
    text-align: center;
    width: 65px;
    height: 35px;
    padding-top: 10px;
    font-size: 12px;
    top: 25px;
    left: 500px;
    border-radius: 10px;
    background-color: #503396;
    color: #fff;
    cursor: pointer;
    border: none;
}

#deleteMember:hover{
    background: #351c6f;
    cursor: pointer;
}

#profile-file{
	/* display: none; */
    position: absolute;
}

#addImgBtn{
    position: absolute;
    left: 110px;
    top: 17px;
    width: 85px;
    height: 35px;
    border-radius: 10px;
    border: none;
    color: #fff;
    background-color: #503396;
    font-size: 1.1em;
    font-weight: 300;
    cursor: pointer;
}

#updateImgBtn{
    position: absolute;
    left: 110px;
    top: 17px;
    width: 85px;
    height: 35px;
    border-radius: 10px;
    border: none;
    color: #fff;
    background-color: #503396;
    font-size: 1.1em;
    font-weight: 300;
    cursor: pointer;
}

#addImgBtn:hover{
	background-color: #351c6f;
}

#updateImgBtn:hover{
	background-color: #351c6f;
}

.comment{
    font-size: 1.0em;
    color: #999;
    margin-top: 10px;
    padding: 0;
    text-align: left;
    position: absolute;
    top: 60px;
    left: 110px;
}

.left>h2{
	font-size: 2.0em;
	font-weight: bold;
	margin: 30px 0px 0px 0px;
}

.right{
    position: relative;
    height: 35px;
}

.profile-essential{
	float: right;
}

sup{
    color: red;
}

#changePw{
    margin-left: 10px;
    width: 120px;
    height: 30px;
    background-color: #fff;
    border: 1px solid #503396;
    border-radius: 10px;
}


#changePw:hover{
	background-color: #351c6f;
    cursor: pointer;
    border-radius: 10px;
}

#changePw:hover>a{
    color: #fff;
}

#changePw>a{
	text-decoration: none;
	color: #444444;
}

.btn-wrap{
	margin-left: 400px;
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: center;
    height: 50px;
}

#cancelBtn{
    width: 75px;
    height: 45px;
    border-radius: 10px;
    background-color: #503396;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    border: none;
    margin-right: 15px;
}

#cancelBtn:hover{
    color: #fff;
    background: #351c6f;
}

#enrollBtn{
    width: 75px;
    height: 45px;
    border-radius: 10px;
    background-color: #503396;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    border: none;
}

#enrollBtn:hover{
    color: #fff;
    background: #351c6f;
}

.delivery{
	margin: 15px 0px 15px 0px;
	font-size: 2.0em;
	font-weight: bold;
}

.profile-content-two>tbody>tr>th{
	background-color: #f7f8f9;
    padding: 20px;
    font-size: 1.2em;
    font-weight: bold;
    width: 200px;
    text-align: left;
}

.profile-content-two>tbody>tr>th:nth-child(1) {
	width: 110px;
}

.profile-content-two>tbody>tr>th:nth-child(2) {
	width: 400px;
}

.profile-content-two>tbody>tr>th:nth-child(3) {
	width: 120px;
}

.profile-content-two>tbody>tr>th:nth-child(4) {
	width: 170px;
}

.profile-content-two>tbody>tr>td {
	font-size: 1.2em;
	margin-left: 7px;
    padding-left: 7px;
    border: none;
}

.my-btn,#file-upload-button{ color: #fff; padding:5px 10px 5px 10px; margin:5px; display:inline-block; border-radius: 10px; transition:all 0.080s; }
.my-btn:active{ transform: translateY(3px); }
.my-btn.my-blue{ background-color: #503396; border-bottom:5px solid #3C2671; }
.my-btn.my-blue:active{ border-bottom:2px solid #3C2671; margin-bottom: 8px; }