<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
		<!-- null이 발생하면 빈칸이 아닌 null로 처리 -->
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	<typeAliases>
	<typeAlias type="kr.or.movie.model.vo.MoviePostComment" alias="moviePostComment"/>
		<typeAlias type="kr.or.movie.model.vo.MoviePost" alias="moviePost"/>
		<typeAlias type="kr.or.movie.model.vo.WatchPoint" alias="watchPoint"/>
		<typeAlias type="kr.or.movie.model.vo.ReviewWatch" alias="reviewWatch"/>
		<typeAlias type="kr.or.movie.model.vo.Review" alias="review"/>
		<typeAlias type="kr.or.member.model.vo.Member" alias="m"/>
		<typeAlias type="kr.or.member.model.vo.Member" alias="m"/>
		<typeAlias type="kr.or.point.model.vo.Point" alias="p"/>
		<typeAlias type="kr.or.movie.model.vo.Movie" alias="movie"/>
		<typeAlias type="kr.or.movie.model.vo.MovieFile" alias="movieFile"/>
		<typeAlias type="kr.or.movie.model.vo.MovieVideo" alias="movieVideo"/>
		<typeAlias type="kr.or.admin.model.vo.Theater" alias="theater"/>
		<typeAlias type="kr.or.ticketing.model.vo.Ticketing" alias="ticketing"/>
		<typeAlias type="kr.or.admin.model.vo.Schedule" alias="schedule"/>
		<typeAlias type="kr.or.ticketing.model.vo.TheaterLocalCount" alias="theaterLocalCount"/>
		<typeAlias type="kr.or.gift.model.vo.ProductOrderSheet" alias="pos"/>
		<typeAlias type="kr.or.gift.model.vo.ProductCategory" alias="pc"/>
		<typeAlias type="kr.or.gift.model.vo.ProductOption" alias="po"/>
		<typeAlias type="kr.or.gift.model.vo.Product" alias="product"/>
		<typeAlias type="kr.or.gift.model.vo.ProductPhoto" alias="pp"/>
		<typeAlias type="kr.or.gift.model.vo.ProductOrderSheet" alias="pos"/>
		<typeAlias type="kr.or.ticketing.model.vo.TicketingSchedule" alias="ticketingSchedule"/>
		<typeAlias type="kr.or.ticketing.model.vo.TicketingInfo" alias="ticketingInfo"/>
		<typeAlias type="kr.or.gift.model.vo.GiftTicket" alias="giftTicket"/>
	</typeAliases>
</configuration>
