@charset "UTF-8";

#check-container{
	text-align: center;
	padding-top: 50px;
	width: 250px;
	margin: 0 auto;
}
	
.id-wrap{
	display: flex;
}

.id-wrap>input{
	width: 70%;
}

.id-wrap>button{
	width: 30%;
}