*{
    padding: 0px;
    margin: 0px;
    outline: none;
    box-sizing: border-box;
}

.bg-img{
    height: 520px;
}
.movie-detail-top {
    position: relative;
    z-index: 1;
    height: 520px;
    margin: 0 0 40px 0;
    color: #ccc;
    background-color: #151515;
}
.movie-detail-top .bg-mask {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 4;
    width: 100%;
    height: 100%;
    background: -moz-linear-gradient(left,#0f0f0f 20%,rgba(15,15,15,0) 50%,#0f0f0f 80%);
    background: -webkit-linear-gradient(left,#0f0f0f 20%,rgba(15,15,15,0) 50%,#0f0f0f 80%);
    background: -o-linear-gradient(left,#0f0f0f 20%,rgba(15,15,15,0) 50%,#0f0f0f 80%);
    background: -ms-linear-gradient(left,#0f0f0f 20%,rgba(15,15,15,0) 50%,#0f0f0f 80%);
    background: linear-gradient(to right,#0f0f0f 20%,rgba(15,15,15,0) 50%,#0f0f0f 80%);
}
.movie-detail-top-content{
    position: relative;
    z-index: 4;
    width: 1100px;
    height: 100%;
    margin: 0 auto;
    padding: 55px 0 0 0;
    overflow: hidden;
}
.d-day{
    background-color: #432e75;
    display: inline-block;
    height: 22px;
    font-size: 22px;
    padding: 0 10px;
    line-height: 22px;
    color: #fff;
    border-radius: 3px;
    vertical-align: middle;
    
}



.movie-detail-top>.bg-mask>movie-detail-top-content>.contents-type{
    display: inline-block;
    margin: 0 0 0 6px;
    line-height: 22px;
    vertical-align: middle;
    font-size: 20px;
}
.likeBtn{
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid lightgray;
    color: lightgray;
}

.movie-detail-content-wrap{
    margin: 0 auto;
    width: 1100px;
}
.movie-detail-menu>ul{
    width: 1100px;
    display: flex;
    padding-right: 32px;
    
}
.movie-detail-menu>ul>li{
    margin-top: 30px;
    list-style:none;
    height: 40px;
    line-height: 40px;
    width: calc(100% / 4);
    text-align: center;
    border: 1px solid lightgray;
}
.movie-detail-menu>ul>li>a{
    color: #432e75;
    text-decoration: none;
}

.tabs>li>.active-tab{
    
    border: 1px solid #432e75;
    
}


.detail-content-wrap{
    margin-top: 20px;
}

.importantInfo-content{
    padding-bottom: 70px;
    position: relative;
    display: none;
    
}
.bottom-btn>#more-btn{
    width: 1100px;
    height: 40px;
    position: absolute;
    bottom: 0px;
    left: 0;
}

.importantInfo-content{
height: 200px;
display: block;
overflow: hidden;
}

.movie-detail-info>.pLine p:first-child {
    padding: 0;
}
.movie-detail-info>.pLine p{
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 0 0 0 20px;
    
}
.movie-detail-info p{
 font-size: 14px;
}
.pointTxt{
    text-align: center;
}

.col>.pointTxt>.circle{
   background-color: #432e75;
    z-index: 12;
    width: 120px;
    height: 120px;
    line-height: 120px;
    border-radius: 120px;
    margin: 0 auto;
}

.movie-all-list{
    width: 275px; 
    box-sizing: border-box; 
    display: flex;
    padding: 10px;
    flex: 1;
    margin: 0 0 0 60px;
}

.reviewAllWrap{
    margin-top: 50px;
}
.reaviewHeadSawBtnWrap{
    position: relative;
    width: 1100px;
    height: 40px;
    overflow: hidden;
}
.reviewHead{
    line-height: 23px;
    font-size: 23px;
    vertical-align: center;
    float: left;
}
.sawMovie{
    position: absolute;
    right: 0;
}

.sawMovie>button{
width: 105px;
height: 36px;
border-radius: 5px;
background-color: transparent;
border: 1px solid #432e75;
cursor: pointer;
}
.reviewAllCountWrap{
    width: 1100px;
    height: 50px;
    margin: 30px 0;
    font-size: 15px;
    position: relative;
    
}
.reviewAllCount>button{
    background-color: transparent;
}

.reviewSearchBtn{
    position: absolute;
    top: 0;
    right: 0;
}

.reviewSearchBtn button{
    background-color: transparent;
    cursor: pointer;
}
.userReviewInfoWrap{
   height: 84px;
    width: 1100px;
    overflow: hidden;
    margin-bottom: 20px;
    position: relative;
}
.userReviewInfo{
    width: 105px;
    height: 84px;
    text-align: center;
   float: left;
}
.reviewText{
    width: 850px;
    height: 84px;
    font-size: 15px;
    padding-left: 20px;
    padding-top: 10px;
   border: 1px solid #f8f8fa;
   border-top-left-radius: 5px;
   border-bottom-left-radius: 5px;
    display: inline-block;
    
}

.reviewContentWrite{
    display: inline-block;
    width: 140px;
    height: 84px;
    background-color: #f8f8fa;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: center;
    line-height: 84px;
    position: absolute;
    top: 0;
}

.infoWrap2{
    overflow: hidden;
}
.userReviewInfo2{
    
    width: 105px;
    height: 150px;
    text-align: center;
    float: left;
    
}
.Text2{
    position: relative;   
    width: 800px;
    height: 84px;
   
    margin-left: 105px;
}

.Tit2{
    position: absolute;
    top: 0;
     display: inline-block;
    width: 85px;
    height: 84px;
    box-sizing: border-box;
    font-size: 20px;
    line-height: 84px;
    text-align: center;
    background-color: #f8f8fa;
}

.Point2{
    position:absolute;
    left: 85px;    
    display: inline-block;
    width: 85px;
    height: 84px;
    font-size: 38px;
    line-height: 38px;
    text-align: center;
    padding: 20px;
    background-color: #f8f8fa;
    
   
    
}
.PointCom{
    position: absolute;
    top: 0;
    left: 170px;
    width: 85px;
    height: 84px;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    background-color: #f8f8fa;
    
}


.reviewTextContent{
    position: absolute;
    left: 255px;
    box-sizing: border-box;
    
    display: inline-block;
}

.reviewTextLike{
    position: absolute;
    width: 70px;
    left: 850px;
    height: 84px;
   line-height: 70px;
    text-align: center;
    background-color: #f8f8fa;
}
.reviewTextLike>img{
cursor: pointer;
}
.blackLike{
    content: url(/img/likeBlack-24.png);
}
.reviewContentWrite2{
    position: absolute;
    left: 920px;
    width: 80px;
    height: 84px;
    background-color: #f8f8fa;
    text-align: center;
    line-height: 84px;
    padding-right: 10px;

}
.infoWap2Top{
    position: relative;
}
.reviewDate{
    position: absolute;
    font-size: 18px;
    right: 0;
    bottom: 40px;
    color: lightgrey;
}
.starpoint>li{
    padding-left: 10px;
    list-style: none;
}
.star-wrap{
    overflow: hidden;
}
.star-wrap2{
    overflow: hidden;
}
.star-wrap>span{
    float: left;
    font-size: 30px;
    color: gray;

}
.star-wrap2>span{
    float: left;
    font-size: 30px;
    color: gray;

}
.modal_content{
    overflow: hidden;
}
.modal_content2{
    overflow: hidden;
}
.star-wrap1{
    margin-top: 10px;
    margin-left: 140px;
    text-align: center;
    float: left;
}

.modalStar-result{
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    width: 220px;
}
.modalClose{
    overflow: hidden;
}

.modalCloseTit{
    font-size: 18px;
    float: left;
    margin-top: 5px;
    
}

.modal_content_tit{
    margin-top: 10px;
    font-size: 24px;
    color: black;
}
.modalTxtArea{
    margin-top: 10px;
    background-color: #f8f8fa;
    height: 140px;
    border-radius: 5px;
    
}
.modalTxtArea>textarea{
    margin-top: 10px;
    width: 420px;
    height: 70px;
    resize: none;
    border-color: lightgray;
   
}
.modalWatchPointChk{
    margin-top: 10px;
    background-color: #f8f8fa;
    height: 140px;
    border-radius: 5px;
    width: 480px;
    height: 104px;
}

.modalContentBottom{
    margin-top: 80px;
    
}
.modalContentBottom>button{
    width: 55px;
    height: 36px;
    border-radius: 5px;
}
.modalWatchPointChk{
    display: flex;
    align-items: center;
}

.modalWatchPointChk>div{
    flex: auto;
    
}
.modalWatchPointChk div p{
    font-size: 18px;
    color:#0f0f0f;
    margin-bottom: 5px;
}
.moviePostWrap{
    margin-top: 50px;
}
.moviePostWriteWrap{
    margin-top: 30px;
    height: 60px;
}

.moviePostText{
    width: 960px;
    height: 40px;
    font-size: 15px;
    padding-left: 20px;
    padding-top: 10px;
   border: 1px solid #f8f8fa;
   border-top-left-radius: 5px;
   border-bottom-left-radius: 5px;
    display: inline-block;
    
}

.moviePosttWrite{
    display: inline-block;
    width: 140px;
    height: 40px;
    background-color: #f8f8fa;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: center;
    line-height: 40px;
    position: absolute;
    top: 0;
}

.moviePostImg>img{
    width: 228px;
   width: 228px;
    height: 340px;
    border-radius: 10px;
}

.moviePostContentList{
    width: 1148px;
    margin-bottom: 50px;
}
.moviePostImg{
   
    position: relative;
    width: calc(100% / 4);
    float: left;
    margin-bottom: 50px;
}
.moviePostImgContent{
    width: 228px;
    height: 150px;
    box-sizing: border-box;
    display: auto;
    position: absolute;
     bottom: 0;
    border: 1px solid lightgrey;
    border-top: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #fff;
    padding: 10px 10px;
    overflow: auto;
}
/* 스크롤바 가로 사이즈 */
::-webkit-scrollbar {
    width: 5px;
}

/* 스크롤바 막대기 */
::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: #555;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #432e75;
}

::-webkit-scrollbar-thumb:active {
    background-color: #432e75;
}

/* 스크롤바 백그라운드 */
::-webkit-scrollbar-track {
    background-color: #fff;
}

::-webkit-scrollbar-track:hover {
    background-color: #eee;
}

.moviePostImgContent a p{
    padding: 10px 0;
}

.postMoreBtn{
    width: 1100px;
    height: 30px;
}
.moviePostImg{
    display: none;
}

.previewTop>span:nth-child(1){
    padding-right: 10px;
    
}
.previewTop>span:nth-child(2){
    padding-left: 10px;
    border-left: 1px solid lightgrey;
}

.previewWrap{
    width: 1100px;
    margin-top: 50px;
}
.previewContentTit{
    width: 1100px;
    padding: 20px 0;
    margin-top: 20px;
    border-top: 1px solid black;
    border-bottom: 1px solid lightgray;

}

.previewPlayer{
    margin-top: 20px;
}
.previewContentWrap>.previewContentTit>h2{
    font-size: 32px;
}

.previewContentWrap>.previewPlayer{
    margin-top: 40px;
}
.previewPlayerLine>video{
    padding: 0 50px;

}

/*open3 무비포스트 상세보기*/
.modal_content_tit>button{
    width: 130px;
    height: 48px;
    background-color: #329eb1;
    border-radius: 5px;
    color: #fff;
    border: none;

}
.modal_content_tit3{
    display: flex;
    justify-content: space-between;
}
.post-detail-top{
    width: 798px;
    height: 113px;
    border: 1px solid lightgray;
}

