@charset "utf-8";
/* CSS Document */

/*share area*/
body { font-size: 12px; font-family: 'Noto Sans KR', sans-serif; }
.wrap { width: 970px; margin: 0 auto; }
.clearfix:after { display: block; content: ''; clear: both; }
.screen_out { overflow: hidden; position: absolute; width: 0; height: 0; line-height: 0; text-indent: -9999px; }
.bold { height: 37px; font-size: 20px; color: #333; font-weight: 700; }
.age_all::before { display: inline-block; content: '전체'; margin-right: 17px; letter-spacing: -1px;  width: 20px; height: 19px; line-height: 19px; text-align: center; color: #FFF; font-weight: 300; font-size: 10px; border: 1px solid #246325; border-radius: 5px; background-color: #2d9248; }
.age_12::before { display: inline-block; content: '12'; margin-right: 17px;  width: 20px; height: 19px; line-height: 19px; text-align: center; color: #FFF; font-weight: 300; font-size: 14px; border: 1px solid #005b94; border-radius: 5px; background-color: #1993d2; }
.age_15::before { display: inline-block; content: '15'; margin-right: 17px;  width: 20px; height: 19px; line-height: 19px; text-align: center; color: #FFF; font-weight: 300; font-size: 14px; border: 1px solid #b57916; border-radius: 5px; background-color: #eba621; }
.age_19::before { display: inline-block; content: '19'; margin-right: 17px;  width: 20px; height: 19px; line-height: 19px; text-align: center; color: #FFF; font-weight: 300; font-size: 14px; border: 1px solid #9e2432; border-radius: 5px; background-color: #cd2027; }
.main_content { height: calc(100vh - 210px); }

/*skip menu area*/
.skip { position: absolute; left: 0; top: 0; line-height: 50px; text-align: center; background-color: #503396; }
.skip a { color: #FFF; font-weight: 400; }
.skip a:focus { top: 0; }


/*header area*/
#mega_hd { width: 100%; height: 49px; z-index: 10; background-color: #fff; border-bottom: 1px solid #C6C6C6; position: fixed; left: 0; top: 0; }
#mega_hd h1 { float: left; margin-top: 11px; }
#mega_hd h1 a { display: block; text-indent: -9999px; width: 280px; height: 28px; background-image: url("/resources/images/common/mega_logo.png"); background-size:  cover; background-repeat: no-repeat; } 
#mega_hd ul { float: right; border-left: 1px solid #C6C6C6; }
#mega_hd ul li { float: left; text-align: center; height: 49px; line-height: 49px; border-right: 1px solid #C6C6C6; }
#mega_hd ul li a { display: block; width: 82px; color: #000; font-weight: 700; font-size: 14px;  }


/*banner menu area*/
#banner { position: relative; margin-top: 49px; }
.banner_menu { z-index: 5; }
.banner_menu ul { margin-right: 20px; }
.banner_menu a { color: #FFF; }
.banner_menu a::after { display: inline-block; content: ''; width: 1px; height: 12px; margin: 0 10px; background-color: #fff; }
.banner_menu ul li:last-child a::after{ display: none; }
#banner .banner_menu { position: absolute; top: 0; left: calc(50% - 485px); margin-top: 15px; font-size: 14px; }
#banner .banner_menu * { display: inline-block; }
#banner .banner_menu .left { float: left; }
#banner .banner_menu .right { float: right; }
#banner .slider { width: 100%; height: 600px; background: #fff url("/resources/images/common/main_slider01.jpg") 0 0 no-repeat; background-size: cover; }

.visual article {  }
.banner_text div:first-child { width: 970px; padding-left: calc(50% - 485px); padding-top: 230px; font-size: 2.2rem; font-weight: 300; color: #FFF; }
.banner_text h2 { width: 970px; padding: 12px 0 14px calc(50% - 485px); font-size: 18px; font-weight: 300; color: #FFF;}
.banner_text h2::after { display: block; content: ''; border-bottom: 1px solid #796f6a; width: 340px; padding-top: 15px; }
.banner_text div { width: 970px; padding-left: calc(50% - 485px); color: #FFF; font-size: 24px; font-weight: 300; }

#banner button:hover { cursor: pointer; }
.left button { width: 82px; height: 30px; border: 1px solid rgba(255,255,255,.75); background-color: rgba(0,0,0,.6); color: rgba(255,255,255,.75); margin: 4.5px; }
.right button { width: 113px; height: 39px; background-color: rgba(255,255,255,.85); border: 1px solid #351f66; color: #351f66;  }
.right button:last-child { margin-left: 8px; color: #FFF; background-color: #351f66; border: 1px solid #574286; }

/*banner section area*/
#banner_wrap { position: relative; width: 100%; height: 594px; overflow: hidden; }
#banner_wrap input { display: none; }

.visual { position: absolute; left: 0; top: 0; width: 300%; transition: left 0.5s; }
.visual li { float: left; width: 33.33%; }
.visual li article { height: 594px; background-position: center center; background-size: cover; }
.visual li:nth-child(1) article { background-image: url(/resources/images/common/banner_image01.jpg); }
.visual li:nth-child(2) article { background-image: url(/resources/images/common/banner_image02.jpg); }
.visual li:nth-child(3) article { background-image: url(/resources/images/common/banner_image03.jpg); }

/*visual btns work*/
.visual_btns1 { position: absolute; width: 81px; height: 30px; left: calc(50% - 57px); bottom: 8px }
.visual_btns1 label { display: inline-block; width: 15px; height: 15px; margin: 0 5px; border-radius: 100%; background-color: rgba(255,255,255,0.3); text-indent: -9999px; cursor: pointer; }

.visual_btns2 { position: absolute; width: 95%; left: calc(50% - 47.5%); top: 270px; }
.visual_btns2 label { position: absolute; display: none; width: 23px; height: 64px; background-image: url(/resources/images/common/visual_btns2.png); text-indent: -9999px; border-radius: 20%; opacity: 0.5; }
.visual_btns2 label:hover { opacity: 0.8; }

#visual_banner1:checked ~ .visual_btns2 .visual_label2_3 { display: block; left: 0; }
#visual_banner1:checked ~ .visual_btns2 .visual_label2_2 { display: block; right: 0; background-position: right 0; }

#visual_banner2:checked ~ .visual_btns2 .visual_label2_1 { display: block; left: 0; }
#visual_banner2:checked ~ .visual_btns2 .visual_label2_3 { display: block; right: 0; background-position: right 0; }

#visual_banner3:checked ~ .visual_btns2 .visual_label2_2 { display: block; left: 0; }
#visual_banner3:checked ~ .visual_btns2 .visual_label2_1 { display: block; right: 0; background-position: right 0; }

#visual_banner1:checked ~ .visual { left: 0%; }
#visual_banner2:checked ~ .visual { left: -100%; }
#visual_banner3:checked ~ .visual { left: -200%; }

.visual_btns1 label:hover,
#visual_banner1:checked ~ .visual_btns1 .visual_label1,
#visual_banner2:checked ~ .visual_btns1 .visual_label2,
#visual_banner3:checked ~ .visual_btns1 .visual_label3  { background-color: rgba(255,255,255,.8); }


/*mian page arae*/
/*movie area*/
#movies { background-color: #F2F2F2; font-weight: 700; font-size: 14px; color: #7D7D7D; }
#movies a { color: #7D7D7D; }
#movies>h2 {}/*screen out*/
#movies dl { position: relative; height: 700px; display: flex; justify-content: center; }
#movies dt { margin-top: 63px; line-height: 50px; width: 160px; height: 50px; text-align: center; }
#movies dd { position: absolute; left: 0; top: 170px; width: 100%; }

#movies ul {}
#movies li { float: left; width: 229px; box-sizing: content-box; border: 1px solid #D9D9D9; margin-right: 15px; }
#movies li:last-child { margin-right: 0; }

/*movie thumbnail*/
#movies input { display: none; }
#movies dl dd li>div { height: 335px; background-size: cover; }
.box_office .thumb_movie1 { background: url(/resources/images/common/thumbs01.jpg) center center; }
.box_office .thumb_movie2 { background: url(/resources/images/common/thumbs02.jpg) center center; }
.box_office .thumb_movie3 { background: url(/resources/images/common/thumbs03.jpg) center center; }
.box_office .thumb_movie4 { background: url(/resources/images/common/thumbs04.jpg) center center; }

.latest_release .thumb_movie1 {background: url(/resources/images/common/thumb_latest01.jpg) center center; }
.latest_release .thumb_movie2 {background: url(/resources/images/common/thumb_latest02.jpg) center center; }
.latest_release .thumb_movie3 {background: url(/resources/images/common/thumb_latest03.jpg) center center; }
.latest_release .thumb_movie4 {background: url(/resources/images/common/thumb_latest04.jpg) center center; }

.future_works .thumb_movie1 { background: url(/resources/images/common/future_works01.jpg) center center; }
.future_works .thumb_movie2 { background: url(/resources/images/common/future_works02.jpg) center center; }
.future_works .thumb_movie3 { background: url(/resources/images/common/future_works03.jpg) center center; }
.future_works .thumb_movie4 { background: url(/resources/images/common/future_works04.jpg) center center; }

.curation .thumb_movie1 { background: url(/resources/images/common/thumb_curation01.jpg) center center; }
.curation .thumb_movie2 { background: url(/resources/images/common/thumb_curation02.jpg) center center; }
.curation .thumb_movie3 { background: url(/resources/images/common/thumb_curation03.jpg) center center; }
.curation .thumb_movie4 { background: url(/resources/images/common/thumb_curation04.jpg) center center; }

#movies .info_movies { padding: 21px 14px 17px; background-color: #fff; height: 123px; }
.info_movies h3 { margin-bottom: 18px; }
#movies .info_movies h3 a { font-size: 20px; letter-spacing: -1px; color: #363636; }
#movies .info_movies h3 ~ a { display: inline-block; width: 97px; height: 46px; padding-left: 23px; background-color: #F2F2F2; color: #666; line-height: 46px; }

/*moives radio button work*/
#movies label { border: 1px solid #D7D7D7; background-color: #FFF; display: block; cursor: pointer; }

.box_office { display: none;}
.latest_release { display: none; }
.future_works { display: none; }
.curation { display: none; }

#kategorie1:checked ~ dl dd .box_office { display: block; }
#kategorie2:checked ~ dl dd .latest_release { display: block; }
#kategorie3:checked ~ dl dd .future_works { display: block; }
#kategorie4:checked ~ dl dd .curation { display: block; }

#movies label:hover,
#kategorie1:checked ~ dl dt .movie_label1,
#kategorie2:checked ~ dl dt .movie_label2,
#kategorie3:checked ~ dl dt .movie_label3,
#kategorie4:checked ~ dl dt .movie_label4 { background-color: #7D7D7D; color: #FFF; }


/*mega event page*/
/*event left*/
/*slider event area*/
#mega_event {}
#mega_event h2 { margin-top: 70px; }

#mega_event .event_left { position: relative; height: 632px; width: 632px; border: 1px solid #CCC; margin-bottom: 80px; float: left; overflow: hidden; }
#mega_event .event_left .slide_event_page { position: absolute; height: 316px; width: 500%; left: -100%; transition: left .5s; }
#mega_event .event_left .slide_event_page li { height: 316px; width: 20%; float: left; background-position: center center; background-size: cover; text-indent: -9999px; }
#mega_event .event_left .now_event1 { background-image: url(/resources/images/common/mega_event_03.jpg); }
#mega_event .event_left .now_event2 { background-image: url(/resources/images/common/mega_event_02.jpg); }
#mega_event .event_left .now_event3 { background-image: url(/resources/images/common/mega_event_01.jpg); }
#mega_event .event_left .now_event4 { background-image: url(/resources/images/common/mega_event_04.jpg); }
#mega_event .event_left .now_event5 { background-image: url(/resources/images/common/mega_event_05.jpg); }

/*slide work*/
#mega_event input { display: none; }
.btn_event_slide { position: absolute; left: calc(50% - 50px); bottom: 330px; z-index: 5; }
.btn_event_slide label { display: inline-block; width: 12px; height: 12px; margin: 0 4px; border-radius: 100%; text-indent: -9999px; border: 3px solid rgba(255,255,255,0.5); cursor: pointer; }

#mega_event1:checked ~ .slide_event_page { left: 0; }
#mega_event2:checked ~ .slide_event_page { left: -100%; }
#mega_event3:checked ~ .slide_event_page { left: -200%; }
#mega_event4:checked ~ .slide_event_page { left: -300%; }
#mega_event5:checked ~ .slide_event_page { left: -400%; }

.btn_event_slide label:hover,
#mega_event1:checked ~ .btn_event_slide .mega_label_1, 
#mega_event2:checked ~ .btn_event_slide .mega_label_2,
#mega_event3:checked ~ .btn_event_slide .mega_label_3,
#mega_event4:checked ~ .btn_event_slide .mega_label_4,
#mega_event5:checked ~ .btn_event_slide .mega_label_5 { background-color: rgba(0,0,0,0.7); }

/*post event area*/
.post_event_page {}    
.post_event_page ul{ margin-top: 315px; height: 315px; }
.post_event_page li{ width: 315px; height: 315px; float: left; }
.post_event_page li:nth-of-type(1) { background-image: url(/resources/images/common/mega_event_06.jpg) }
.post_event_page li:nth-of-type(2) { background-image: url(/resources/images/common/mega_event_07.jpg) }

/*right event area*/
.event_right { padding-left: 11px;width: 330px; height: 631px; float: left; margin-bottom: 80px; }
.event_right_pt { background: url(/resources/images/common/mega_event_right.jpg) center center; background-size: auto; width: 330px; height: 631px; text-indent: -9999px; }


/*mega local page*/
#mega_local { background: url(/resources/images/common/mega_local_bg.jpg) center center; background-size: cover; background-attachment: fixed; height: 500px; margin-bottom: 80px; }
#mega_local h2 { background: url(/resources/images/common/mega_local_text.png); width: 865px; height: 140px; margin: 50px 52.5px 0; }

.mega_point_event { text-align: center; margin-left: 79.5px; padding-top: 245px; }
.mega_point_event .local_slide { float: left; width: 235px; height: 185px; margin-right: 56px; border: 1px solid #333; background-color: rgba(0,0,0,0.5); color: #FFF; }
.mega_point_event .local_slide:last-child { margin-right: 0; }

.local_slide .local_shop_event { width: 100px; height: 36px; margin: 0 auto 25px; background-color: #333; border: 1px solid #444; line-height: 32px; }
.local_slide .local { font-size: 17px; line-height: 31px; }
.local_slide .shop { font-size: 22px; line-height: 37px; }
.local_slide .event { font-size: 17px; }


/*mega_alliance area*/
#mega_alliance { margin-bottom: 80px; }
#mega_alliance h2 {}

.alliance_event_left { float: left; height: 632px; width: 632px; margin-right: 11px; border: 1px solid #CCC; }
.alliance_post_images {}
.alliance_post_images ul {}
.alliance_post_images li { width: 315px; height: 315px; float: left; }

.alliance_post_images li:nth-of-type(1) { background-image: url(/resources/images/common/alliance_event01.jpg); }
.alliance_post_images li:nth-of-type(2) { background-image: url(/resources/images/common/alliance_event02.jpg); }
.alliance_post_images li:nth-of-type(3) { background-image: url(/resources/images/common/alliance_event03.jpg); }
.alliance_post_images li:nth-of-type(4) { background-image: url(/resources/images/common/alliance_event04.jpg); }

.alliance_event_right { height: 632px; width: 316px; border-left: 1px solid #CCC; border-right: 1px solid #CCC; float: left; }
.alliance_long_images {}
.alliance_long_images .static_long { background-image: url(/resources/images/common/alliance_event05.jpg); height: 632px; width: 314px; background-position: center center; background-size: cover; }

/*customer service area*/
/*notice*/
#customer_service {}
#customer_service article { margin-top: 19px; }
#customer_service article div { width: 290px; height: 60px; color: #666; border-bottom: 1px solid #E1E1E1; padding: 13px 0 10px; }
#customer_service article div h3 { margin-bottom: 10px; }
#customer_service article div h3 span:first-child { color: #000; }
#customer_service article div h3 span:first-child::after { display: inline-block; content: ''; height: 11px; border-right: 1px solid #000; margin: 0 4px; }
/*notice radio&label*/
.notice { width: 290px; font-size: 13px; float: left; }
.notice .notice_label { width: 290px; height: 36px; line-height: 35px; font-size: 13px; color: #333; border-bottom: 1px solid #E1E1E1; text-align: center; }
.notice .notice_label .label_notice01 { display: block; width: 100px; height: 35px; border-top: 1px solid #E1E1E1; border-left: 1px solid #E1E1E1; background-color: #F5F5F5; float: left; }
.notice .notice_label .label_notice02 { display: block; width: 117px; height: 35px; border-top: 1px solid #E1E1E1; border-left: 1px solid #E1E1E1; border-right: 1px solid #E1E1E1; background-color: #F5F5F5; float: left; }

/*radio work*/
.notice input { display: none; }

.mega_notice,
.cine_notice { display: none; }

#all_notice_radio:checked ~ .mega_notice,
#cine_notice_radio:checked ~ .cine_notice { display: block; }

.notice_label label:hover { cursor: pointer; }
#all_notice_radio:checked ~ .notice_label .label_notice01,
#cine_notice_radio:checked ~ .notice_label .label_notice02 { height: 36px; background-color: #FFF; }

/*discount*/
.discount { float: left; width: 290px; margin-left: 50px; }
.discount h2 { border-bottom: 1px solid #E1E1E1; margin-top: 1px; }

.card { height: 295px; }
.card .card_pt { display: inline-block; width: 100px; height: 58px; background-size: cover; background-position: center center; }
.cd1 { background-image: url(/resources/images/common/card01.png); }
.cd2 { background-image: url(/resources/images/common/card02.png); }
.cd3 { background-image: url(/resources/images/common/card03.png); }

.card_pt { float: left; margin-top: 20px; margin-right: 21px; }
.card .cd1 { margin-top: 0; }
.card_info { height: 78px; margin-top: 20px; border-bottom: 1px solid #E1E1E1; }
.card_info div:first-child { margin-bottom: 13px; }

/*service center*/
.service_center { float: left; margin-left: 50px; margin-top: 1px; width: 290px; height: 332px; }
.service_center h2 { border-bottom: 1px solid #E1E1E1; }
.service_center .sr_img { background-image: url(/resources/images/common/service_center_img.png); margin-top: 24px; width: 290px; height: 271px;  }

/*bottom ad*/
#ad_bottom { margin: 80px 0 90px;}
.ad_bt_img {  }
.ad_bt_img div { background-image: url(/resources/images/common/ad_bottom.jpg); height: 227px; background-position: center center; background-size: cover; }

/*megabox cinema locate*/
#mega_cinema { height: 453px; background-color: #333; font-family: 'Nanum Gothic', sans-serif; }
#mega_cinema h2 { padding-top: 40px; color: #FFF; font-size: 14px; font-weight: bold; }

.mega_korea { margin-top: 43px; }

#mega_cinema dl { float: left; width: 970px; margin-bottom: 20px; }
#mega_cinema dt { float: left; width: 150px; height: 20px; font-size: 14px; color: #FFF; }
#mega_cinema dd { display: inline-block; height: 10px; padding-left: 10px; color: #C1C1C1; line-height: 20px }

/*footer area*/
#mega_footer { height: 210px; background-color: #221f1f; }
#mega_footer .wrap { padding-top: 30px; }
.ft_color { color: #999; font-family: 'Nanum Gothic', sans-serif; }

.footer_logo { margin-bottom: 21px; }
.footer_logo a { display: inline-block; width: 158px; height: 34px; background-image: url(/resources/images/common/logo_footer.png); background-size: contain; opacity: 0.3; text-indent: -9999px; }
.footer_logo a:hover { opacity: 1; transition: .5s; }
.footer_logo span { display: inline-block; float: right; color: #FFF; }
.footer_logo .ars { color: #999; margin-right: 8px; }

.footer_menu { margin-bottom: 22px; }
.footer_menu::after { display: block; content: ''; clear: both; }
.footer_menu li { float: left; }
.footer_menu li::before { float: left; display: block; content: ''; width: 1px; height: 12px; border-left: 1px solid #999; margin: 0 9px; }
.footer_menu li a { color: #59bec9; text-decoration: underline; }
.footer_menu .footer_company::before { display: none; }

.logo_copy { float: right; }
.logo_copy ul { float: right; }
.logo_copy ul li { float: left; margin-right: 12px; margin-bottom: 10px; padding: 7.5px; background-color: #666; border-radius: 100%; }
.logo_copy ul li a { display: block; width: 15px; height: 15px; text-indent: -9999px; background-size: cover; }
.logo_copy ul li:nth-of-type(1) a { background-image: url(/resources/images/common/icon_social01.png); }
.logo_copy ul li:nth-of-type(2) a { background-image: url(/resources/images/common/icon_social02.png); }
.logo_copy ul li:nth-of-type(3) a { background-image: url(/resources/images/common/icon_social03.png); }
.logo_copy ul li:nth-of-type(4) a { background-image: url(/resources/images/common/icon_social04.png); }
.logo_copy ul li:nth-of-type(5) a { background-image: url(/resources/images/common/icon_social05.png); }

.logo_copy ul li:last-child { margin-right: 0; }
.text1 { float: left; line-height: 18px; }
.logo_copy .text2 {}
.logo_copy .text2 a { color: lightcoral; text-decoration: underline; }
.logo_copy .text2 a:hover { color: deeppink; }

/*depth2 movies*/
.wrap_l { width: 1462px; margin: 0 auto; }
.wrap_l ul { margin-top: 15px; }
.wrap_l li:last-child { margin: 0; }
.wrap_l .thumb_movie1 { background: url(/resources/images/common/thumbs02.jpg) center center; height: 335px; background-size: cover; }
/*d2bm*/
.d2_bm { margin-top: 75px; }
.d2_bm .left { float: left; }
.d2_bm .right { float: right; }
.d2_bm ul { margin-right: 20px; }
.d2_bm a { color: #000; font-size: 14px; }
.d2_bm a::after { display: inline-block; content: ''; width: 1px; height: 12px; margin: 0 10px; background-color: #000; }
.d2_bm ul li:last-child a::after{ display: none; }
.d2_bm * { display: inline-block; }


/*js menu*/
#all_menu { display: none; position: absolute; top: 0; left: calc(50% - 970px/2); width: 972px; z-index: 9999; }
#all_menu button { position: absolute; top: 20px; right: 30px; background-color: rgba(255, 255, 255, 0); border: none; }
#all_menu button::before { display: block; content: ''; width: 2px; height: 25px; background-color: #999; transform: rotate(45deg); }
#all_menu button::after { display: block; content: ''; width: 2px; height: 25px; background-color: #999; transform: translateY(-25px) rotate(-45deg);}
#all_menu button:hover { cursor: pointer; }

.menus { background-color: #f4f4f4; border: 1px solid #CCC; font-family: 'Nanum Gothic', sans-serif; }
.menus .cols { float: left; width: 194px; height: 580px; border-right: 1px solid #CCC; }
.menus .cols1 {}
.menus .cols2 {}
.menus .cols3 {}
.menus .cols4 {}
.menus .cols5 { border-right: none; }

.menus .cols dl { padding-left: 30px; line-height: 19px; }
.menus .cols dl dt { margin-top: 30px; font-size: 14px; margin-bottom: 12px; font-weight: 700; }
.menus .cols dl dt::before { display: block; content: ''; width: 15px; border-top: 2px solid #59bec9; padding-bottom: 12px; }
.menus .cols dl dt>a { color: blue; }
.menus .cols dl dt dd {}
.menus .cols5>a { display: block; margin-top: 125px; border-top: 1px solid #CCC; padding: 20px 0 0 20px; color: blue; font-size: 14px; font-weight: 700; }
.menus .cols5>a>div { margin-top: 9px; font-size: 12px; font-weight: 400; }
.cs2 { position: absolute; width: 100%; height: 100vh; background-color: rgba(0, 0, 0, 0.7); z-index: 10; display: none; }