/* GIFT NAVI area */
.page-util { display: block; position: static; width: 100%; height: 42px; background-color: #f8f8fa; box-sizing: border-box; margin-top: 49px; }
.page-util .inner-wrap { width: 1200px; margin: 0 auto; }
.page-util .location { display: flex; align-items: center; }
.page-util .location span { overflow: hidden; display: block; width: 13px; height: 100%; margin: 0; padding: 0; text-indent: -9999px; background: url(https://img.megabox.co.kr/static/pc/images/common/bg/bg-location-home.png) no-repeat center; }
.page-util .location a { display: block; position: relative; height: 42px; margin: 0 0 0 25px; padding: 0; line-height: 42px; color: #666; }
.page-util .location a::before { content: ''; display: block; position: absolute; left: -14px; top: 0; width: 5px; height: 42px; background: url(https://img.megabox.co.kr/static/pc/images/common/bg/bg-location-arr.png) no-repeat left center; }

.gift-wrap { width: 1200px; margin: 0 auto; }

/* 스토어 내 폰트 색상 */
.color-mt { color: mediumturquoise; }
.color-mb { color: #503396; }

/* 스토어상단 네비게이션 바 */
.gift-title { font-size: 20px; color: #503396; padding: 30px 0; }
.store-nav { margin: 0 auto; width: 1200px; display: flex; align-items: center; justify-content: space-between; }
.store-nav > li > label { color: #1c1c1c; display: block;;width: 250px; text-align: center; border: 1px solid #ddd;  height: 50px; line-height: 50px; border-left:  none;}
.store-nav > li:first-child { border-left: 1px solid #ddd; }
input[name=store_nav_ct] { display: none; }
input[name=store_nav_ct]:checked~label { font-weight: 900; border: 1px solid #503396; border-bottom: none; }

/* 스토어 상단 홍보배너 */
.store-wellcome { display: flex; width: 600px; margin: 50px 0 0; }
.text-info { font-weight: 200; padding: 40px 0 30px; }
.text-info>h2 { font-size: 30px; margin-top: 10px; }
.text-info p:first-of-type { padding: 40px 0 5px; font-size: 20px; }
.text-info p:last-of-type { font-size: 15px;}
.pic-info { margin-left: 30px; }
.pic-info>img { width: 300px; }

.store-wellcome2 { float: right; margin: 0 200px 30px; width: 700px; }
.store-wellcome2 .text-info { margin-left: 50px; }

/* 스토어 내부 컨텐츠 상단 바 */
.gift-ct-nav { display: flex; justify-content: space-between; margin-top: 60px; }
.ct-title { font-size: 20px; }
.gift-more { background: none; border: none; }

/* 스토어 내부 컨탠츠 */
a { color: #000; }
.gift-items {display: flex; margin: 50px 0px; }
.item { width: 245px; margin: 20px; border: 1px solid #ddd; height: 435px; border-radius: 10px;}
.item:hover { border: 1px solid #503396;}
.item-img>img { width: 243px; height: 245px; border-radius: 10px; }
.item-info { padding: 20px; position: relative; height: 190px; }
.item-info > div:first-of-type { border-bottom: 1px solid #ddd; height: 100px;}
.item-title { font-size: 16px; margin-bottom: 10px; }
.item-content { font-size: 12px; font-weight: 200;}
.item-price { position: absolute; bottom: 20px; left: 20px; font-size: 20px; font-weight: 200; }
.like-count-view { position: absolute; bottom: 20px; right: 20px; display: flex; align-items: center; }
.like-count-view button { background-color: #fff; border: none; }
.like-count-view span:first-of-type { display: block; margin-right: 10px; }
.like-count-view span:last-of-type { font-weight: 100; font-size: 1rem; color: red; }
.like-count-view span:last-of-type:hover {font-variation-settings:'FILL' 1;}

.buy-event-item { width: 120px; height: 50px; line-height: 50px; text-align: center; margin: 50px auto 0; }
.buy-event-item a { display: block; font-size: 0.75rem; color: #fff; background-color: #503396; font-weight: 600; }
.event-banner img { max-width: 1200px;}
.event-banner h2 { font-size: 2rem; font-weight: 600; display: block; text-align: center; margin: 50px 0;}
/* 상품섹션 */
.head-title { border-bottom: 1px solid #555; padding: 42px 0 15px; }
.head-title h1 { font-size: 1.7rem; margin-bottom: 10px; }
.head-title h2 { font-size: 1.2rem; }

/* images */
.product-control { display: flex; margin: 30px 0 100px; border-bottom: 1px solid #d8d9db; padding-bottom: 100px; }
.product-control .images { text-align: center; }
.images { width: 580px; }
#selected-image { width: 100%; }
#selected-image > img { max-width: 400px; max-height: 400px; }

#preview { display: flex; width: 480px; height: 120px; align-items: center; margin: 0 auto; }
#preview .prev-img-container { width: 100px; height: 100px; display: flex; align-items: center; justify-content: center;}
#preview .prev-img-container img { max-width: 80px; max-height: 80px; }
#preview > button { width: 23px; height: 60px; background-image: url(/resources/images/common/visual_btns_black.png); text-indent: -9999px; opacity: 0.5; }
#preview > button:last-of-type { background-position: right 0; }
.selectImg { border: 2px solid royalblue; }


/* infomation */
.right-info { padding-left: 20px; width: 720px; }
.right-info > div { padding: 10px 0; }
.productInfo { border-bottom: 1px solid #ddd; }
.right-info h2 { font-size: 1rem; margin-top: 10px; }
.right-info h2 span { font-size: 0.8rem; color: #555; }
.right-info table { font-size: 0.8rem; margin: 10px 0 10px; }
.right-info table tr { height: 30px; }
.right-info table th { width: 100px; text-align-last: left; }
.deliveryInfo { border-bottom: 1px solid #ddd   ; }
.deliveryInfo > table .deliveryNotice { padding-left: 20px; width: 100%; background-color: #eee; height: 40px; line-height: 40px; }
.productInfo .category-anc {  }

#productOption { width: 450px; height: 40px; }
#option-select-tr {  }
.selected-option { display: flex; align-items: center; justify-content: space-around; border: 1px solid #ddd; border-top: none; box-sizing: border-box; height: 40px; }
.opt { width: 40%; }
.amount { width: 25%; text-align: center; }
.price { }
.price button { background: none; height: 20px; width: 20px; background: url("/resources/images/gift/x-mark.png") 0 0 no-repeat; background-size:  cover; text-indent: -9999px; cursor: pointer; border: none; }

/* btn 구매하기 / 좋아요 / 장바구니 */
.product-btn-box  { display: flex; justify-content: space-between; align-items: center; width: 450px; margin-top: 30px; }
.product-btn-box button { height: 60px; margin: 0px 1.5px; padding: 0; box-sizing: border-box; background: #fdfdfd; flex-grow: 1; }
.product-btn-box button:first-of-type { flex-grow: 3; background-color: #000; border: none; color: #fff; }
.product-btn-box button:first-of-type:hover { background-color: #333; border: none; color: #fff; }
.product-btn-box button:hover { cursor: pointer; border: 1px solid #000; color: #000; }
/* 좋아요 / 장바구니 활성화 클래스 */
.addLike { background-color: #fd0000 !important; color: #fdfdfd; border: #fd0000 !important; }
.addCart { background-color: #000 !important; color: #fdfdfd; }
.addCart:hover { background-color: #555 !important; color: #fff !important; border: 1px solid #555 !important; }

/* 증감버튼 */
.quantity { height: 28px; display: flex; align-items: center; justify-content: space-around; width: 100px; border-radius: 5px; border: 1px solid #ccc; }
.quantity input { border: none; background-color: transparent; width: 25%; padding-left: 15px; font-size: 1.2rem; font-weight: 600; }
.quantity button { background-color: transparent; border: none; cursor: pointer; font-size: 1.5rem; font-weight: bold; }

/* 상세 메인콘텐츠영역 */
.main-content { width: 960px; margin: 0 auto; }
.main-img-container img { max-width: 960px; margin: 10px 0; }

/* 주문서 결제 페이지 */
.order { min-height: 500px; } 
.top-area { display: flex; justify-content: space-between; align-items: center;  padding: 30px 0 10px; border-bottom: 1px solid #ddd; }
.top-area h1 { font-size: 1.2rem; }
.top-area p { font-size: 0.8rem; font-weight: 600; color: #999; }
.top-area p span { color: #000; margin: 0 5px; }

.info h2 { font-size: 1.2rem; margin: 30px 0 10px; }

/* table 공통요소 */
.order table { width: 100%; }
.order table tr { border: 1px solid #ddd; border-bottom: none; }
.order table tr:last-of-type { border-bottom: 1px solid #ddd; }
.order table th { height: 45px; }

/* 배송정보 */
.shpping-info tr:last-of-type { height: 80px; }
.shpping-info th { width: 220px; }
#ship-request-input { display: block; width: 450px; margin-top: 10px; }
.sa-selector { height: 60px; display: flex; align-items: center; }
.sa-selector input[type=radio] { display: none; }
.sa-selector label, .addAddress { display: block; width: 100px; height: 35px; line-height: 33px; border: 1px solid #999; text-align: center; border-radius: 5px; margin-right: 5px; background-color: #fff; }
.addAddress { margin-left: 10px; }
.sa-selector label:hover { cursor: pointer; }
.sa-selector input:checked + label { border: 1px solid #503396; } 
.sa-selector .addAddress {  }
.name-phone { height: 100px; }
.ad-name input { height: 30px; margin-bottom: 10px; width: 195px;  border-radius: 5px; padding-left: 10px; border: 1px solid #999; }
.phone-number input { height: 20px; width: 50px; text-align: center; padding: 5px; border-radius: 5px; border: 1px solid #999; }

/* 배송지 추가 모달 */
.addAddressModal { position: relative; display: none; position: fixed; left: 0; right: 0; margin: 0 auto; background-color: #fff; border: 1px solid #999; border-radius: 5px; z-index: 9999; width: 700px; height: 700px; }
.addAddressModal h2 { font-size: 1.2rem; width: 100px; margin: 40px auto 50px; }
.addAddressModal form {  }
.addAddressModal button:hover { cursor: pointer; }
.addAddressModal table { width: 500px; margin: 0 auto; }
.addAddressModal table tbody tr { height: 70px; border: none; }
.addAddressModal table tbody tr:nth-child(3) input,
.addAddressModal table tbody tr:nth-child(4) input,
.addAddressModal table tbody tr:nth-child(5) input { width: 200px; }
.addAddressModal table tbody tr:nth-child(4) input { width: 200px; }
.addAddressModal span { display: block; }
.addAddressModal input { display: block; width: 300px; height: 35px; line-height: 35px; margin-left: 30px; box-sizing: border-box; }
.addAddressModal .closeX { position: absolute; top: 35px; right: 30px; width: 30px; height: 30px; line-height: 30px; background: #fff url("/resources/images/gift/x-mark.png") 0 0 no-repeat; background-size:  cover; text-indent: -9999; border: none; }
.closeX:hover {cursor: pointer;}
.sa-found-td { display: flex; align-items: center; height: 70px; }
.sa-found { background-color: #000; color: #fff; width: 80px; border: none; height: 35px; }
.submit-btn-address-add { width: 270px; margin: 30px auto; }
.submit-btn-address-add button { width: 120px; background-color: #fff; height: 50px; line-height: 19px; }
.submit-btn-address-add button:last-child { background-color: #000; color: #fff; font-weight: 600; margin-left: 20px; }
.addAddressModal table tbody tr:last-child { border: none; }

/* 상품정보 */
.product-info-row { }
.product-info td { text-align: center; }
.product-info td:first-of-type { text-align: left; }
.product-info-row > img { max-width: 90px; float: left; margin: 10px; }
.product-info-row > div { float: left; height: 110px; padding: 10px; width: 80%; }
.product-info-row > div > p { margin: 10px 0; }
.product-option-info { height: 30px; width: 100; line-height: 30px; background-color: #f5f5f5; padding-left: 10px; border: 1px solid #ddd; }

/* 배송안내사항 */
.shpping-info2 { margin: 65px 0 30px; }
.shpping-info2 li { color: #999; line-height: 1.5rem; }

/* 금액안내 */
.price-info { }
.price-info th {width: 220px;}
.price-info td { padding-left: 30px;}

/* 결제 */
.payment-info {  }
.payment-info th{ width: 220px; }
.payment-info td { padding: 20px; }
.payment-info .info-ul { margin: 5px;}
.payment-info .info-ul li { color: #999; list-style: inside; height: 20px; }


.pay-type-radio li { display: flex; align-items: center; height: 20px; }


.pay-type { display: none; }
.selectPayment { display: block; }
.selectPayment input[type=radio] { display: none; }
.pay-method-select-btns { display: flex; }
.pay-method-select-btns label { display: block; box-sizing: border-box; text-align: center; height: 40px; line-height: 40px; width: 95px; border: 1px solid #ddd; border-radius: 5px; margin-right: 5px; }
/* 선택한 결제수단 강조  */
.pay-method-select-btns label:hover { background-color: #f5f5f5; cursor: pointer; }
.pay-method-select-btns input[type=radio]:checked + label { border: 1px solid #503396; }

.selectPayment .info-ul { margin-top: 10px; }

/* agree */
.agreeP { display: flex; align-items: center; }
.agreeP * { display: block; height: 20px; line-height: 18px;}
.agreeP label {margin-left: 5px;}

/* 결제 */
#takeOrder { width: 300px; height: 50px; display: block; background-color: #503396; color: #FFF; border: none; margin: 50px auto; }
#takeOrder:hover { cursor: pointer; }

/* 결제완료결과 */
.pay-result-main { width: 800px; margin: 100px auto 0; text-align: center; padding: 50px; }
.pay-result-main .order-number { color: #999; }
.order-number a { text-decoration: underline; }
.pay-result-main h1 { font-size: 2rem; height: 80px; line-height: 80px; }
/* 결제완료 버튼 */
.complete-btns { display: flex; justify-content: center; align-items: center; margin-bottom: 100px; }
.complete-btns a { display: block; width: 220px; border: 1px solid #000; text-align: center; height: 60px; line-height: 60px; font-size: 1rem; font-weight: 600; } 
.complete-btns a:first-of-type { margin-right: 30px; }
.complete-btns a:last-of-type { color: #FFF; background-color: #503396; }
#successPayButton, #cancelPay, #failPay { display: none; }

/* 하트뿌리기 애니메이션 */
.material-symbols-outlined { font-variation-settings:'FILL' 0, 'wght' 700, 'GRAD' 200, 'opsz' 48 }
.like-on { font-variation-settings:'FILL' 1; color: red;}