/* GIFT NAVI area */
.page-util { display: block; position: static; width: 100%; height: 42px; background-color: #f8f8fa; box-sizing: border-box; margin-top: 49px; }
.page-util .inner-wrap { width: 1200px; margin: 0 auto; }
.page-util .location { display: flex; align-items: center; }
.page-util .location span { overflow: hidden; display: block; width: 13px; height: 100%; margin: 0; padding: 0; text-indent: -9999px; background: url(https://img.megabox.co.kr/static/pc/images/common/bg/bg-location-home.png) no-repeat center; }
.page-util .location a { display: block; position: relative; height: 42px; margin: 0 0 0 25px; padding: 0; line-height: 42px; color: #666; }
.page-util .location a::before { content: ''; display: block; position: absolute; left: -14px; top: 0; width: 5px; height: 42px; background: url(https://img.megabox.co.kr/static/pc/images/common/bg/bg-location-arr.png) no-repeat left center; }

.gift-wrap { width: 1200px; margin: 0 auto; }

/* 스토어 내 폰트 색상 */
.color-mt { color: mediumturquoise; }
.color-mb { color: #503396; }

/* 스토어상단 네비게이션 바 */
.gift-title { font-size: 20px; color: #503396; padding: 30px 0; }
.store-nav { margin: 0 auto; width: 1200px; display: flex; align-items: center; justify-content: space-between; }
.store-nav > li > label { color: #1c1c1c; display: block;;width: 250px; text-align: center; border: 1px solid #ddd;  height: 50px; line-height: 50px; border-left:  none;}
.store-nav > li:first-child { border-left: 1px solid #ddd; }
input[name=store_nav_ct] { display: none; }
input[name=store_nav_ct]:checked~label { font-weight: 900; border: 1px solid #503396; border-bottom: none; }

/* 스토어 상단 홍보배너 */
.store-wellcome { display: flex; width: 600px; margin-top: 50px; }
.text-info { font-weight: 200; padding: 40px 0 30px; }
.text-info>h2 { font-size: 30px; margin-top: 10px; }
.text-info p:first-of-type { padding: 40px 0 5px; font-size: 20px; }
.text-info p:last-of-type { font-size: 15px;}
.pic-info>img { width: 300px; }

/* 스토어 내부 컨텐츠 상단 바 */
.gift-ct-nav { display: flex; justify-content: space-between; margin-top: 60px; }
.ct-title { font-size: 20px; }
.gift-more { background: none; }

/* 스토어 내부 컨탠츠 */
a { color: #000; }
.gift-items {display: flex; margin: 50px 0px; }
.item { width: 245px; margin: 20px; border: 1px solid #ddd; height: 435px; border-radius: 10px;}
.item:hover { border: 1px solid #503396;}
.item-img>img { width: 243px; height: 245px; border-radius: 10px; }
.item-info { padding: 20px; position: relative; height: 190px; }
.item-info > div:first-of-type { border-bottom: 1px solid #ddd; height: 100px;}
.item-title { font-size: 16px; margin-bottom: 10px; }
.item-content { font-size: 12px; font-weight: 200;}
.item-price { position: absolute; bottom: 20px; left: 20px; font-size: 20px; font-weight: 200; }

/* 상품섹션 */
.head-title { border-bottom: 1px solid #555; padding: 42px 0 15px; }
.head-title h1 { font-size: 1.7rem; margin-bottom: 10px; }
.head-title h2 { font-size: 1.2rem; }

/* images */
.product-control { display: flex; margin-top: 30px; border-bottom: 1px solid #d8d9db; }
.product-control .images { text-align: center; }
.images { width: 480px; }
#selected-image { width: 100%; }
#selected-image > img { max-width: 400px; max-height: 400px; }
#preview { display: flex; height: 120px; justify-content: space-between; align-items: center; }
#preview .prev-img-container { width: 100px; height: 100px; display: flex; align-items: center; justify-content: center; }
#preview .prev-img-container img { max-width: 80px; max-height: 80px; }
/* infomation */
.right-info { padding-left: 130px; width: 720px; }
.right-info > div { padding: 10px 0; }
.productInfo { border-bottom: 1px solid #ddd; }
.right-info h2 { font-size: 1rem; margin-top: 10px; }
.right-info h2 span { font-size: 0.8rem; color: #555; }
.right-info table { font-size: 0.8rem; margin: 10px 0 10px; }
.right-info table tr { height: 30px; }
.right-info table th { width: 100px; text-align-last: left; }
.deliveryInfo { border-bottom: 1px solid #ddd   ; }
.deliveryInfo > table .deliveryNotice { padding-left: 20px; width: 100%; background-color: #eee; height: 40px; line-height: 40px; }
.productInfo .category-anc {  }

#productOption { width: 450px; height: 40px; }
#option-select-tr {  }
.selected-option { display: flex; align-items: center; justify-content: space-around; border: 1px solid #ddd; border-top: none; box-sizing: border-box; height: 40px; }
.opt { width: 40%; }
.amount { width: 25%; text-align: center; }
.price { }
.price button { background: none; height: 20px; width: 20px; background: url("/resources/images/gift/x-mark.png") 0 0 no-repeat;  background-size:  cover; text-indent: -9999px; cursor: pointer; border: none; }

/* btn 구매하기 / 좋아요 / 장바구니 */
.product-btn-box  { display: flex; justify-content: space-between; align-items: center; width: 450px; }
.product-btn-box button { height: 60px; margin: 0px 1.5px; padding: 0; box-sizing: border-box; background: #fdfdfd; flex-grow: 1; }
.product-btn-box button:first-of-type { flex-grow: 3; background-color: #000; border: none; color: #fff; }
.product-btn-box button:first-of-type:hover { background-color: #333; border: none; color: #fff; }
.product-btn-box button:hover { cursor: pointer; border: 1px solid #000; color: #000; }
/* 좋아요 / 장바구니 활성화 클래스 */
.addLike { background-color: #fd0000 !important; color: #fdfdfd; border: #fd0000 !important; }
.addCart { background-color: #000 !important; color: #fdfdfd; }
.addCart:hover { background-color: #555 !important; color: #fff !important; border: 1px solid #555 !important; }

/* 증감버튼 */
.quantity { height: 28px; display: flex; align-items: center; justify-content: space-around; width: 100px; border-radius: 5px; border: 1px solid #ccc; }
.quantity input { border: none; background-color: transparent; width: 25%; padding-left: 15px; font-size: 1.2rem; font-weight: 600; }
.quantity button { background-color: transparent; border: none; cursor: pointer; font-size: 1.5rem; font-weight: bold; }

/* 주문서 결제 페이지 */
.order { min-height: 500px; } 
.top-area { display: flex; justify-content: space-between; align-items: center;  padding: 30px 0 10px; border-bottom: 1px solid #ddd; }
.top-area h1 { font-size: 1.2rem; }
.top-area p { font-size: 0.8rem; font-weight: 600; color: #999; }
.top-area p span { color: #000; margin: 0 5px; }

.info h2 { font-size: 1.2rem; margin: 30px 0 5px; }

/* table 공통요소 */
.order table { width: 100%; }
.order table tr { border: 1px solid #ddd; border-bottom: none; }
.order table tr:last-of-type { border-bottom: 1px solid #ddd; }
.order table th { height: 45px; }

.product-info-row { }
.product-info td { text-align: center; }
.product-info td:first-of-type { text-align: left; }
.product-info-row > img { max-height: 90px; float: left; margin: 10px; }
.product-info-row > div { float: left; height: 110px; padding: 10px; width: 85%; }
.product-info-row > div > p { margin: 10px 0; }
.product-option-info { height: 30px; width: 100; line-height: 30px; background-color: #f5f5f5; padding-left: 10px; border: 1px solid #ddd; }

/* 배송안내사항 */
.shpping-info2 { margin: 65px 0 30px; }
.shpping-info2 li { color: #999; line-height: 1.5rem; }